:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    /* Un gris muy suave, casi blanco, pero suficiente para crear contraste */
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    -webkit-font-smoothing: antialiased; /* Hace que la fuente se vea más nítida */
}